{
  "identities": [
    {
      "name": "admin",
      "credentials": [
        {
          "accessKey": "__SEAWEED_ACCESS_KEY_ID__",
          "secretKey": "__SEAWEED_SECRET_ACCESS_KEY__"
        }
      ],
      "actions": [
        "Admin",
        "Read",
        "List",
        "Tagging",
        "Write",
        "WriteAcp",
        "ReadAcp",
        "Delete"
      ]
    }
  ]
}
